{{- $token := "" -}}
{{- if lookPath "infisical" -}}
  {{- if eq .chezmoi.os "windows" -}}
    {{- $token = output "powershell" "-NoProfile" "-Command" "$ErrorActionPreference = 'SilentlyContinue'; infisical secrets get ADMIN_PAT --env global --path /github --plain 2>$null || echo -n ''" | trim -}}
  {{- else -}}
    {{- $token = output "sh" "-c" "infisical secrets get ADMIN_PAT --env global --path /github --plain 2>/dev/null || echo -n ''" | trim -}}
  {{- end -}}
{{- end -}}
github.com:
    users:
        devsprithvi:
            oauth_token: {{ $token | quote }}
    git_protocol: https
    oauth_token: {{ $token | quote }}
    user: devsprithvi

